@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}
*:hover,
*:active {
    -webkit-tap-highlight-color: transparent;
}

body {
    padding: 0;
    margin: 0;
}
a {
    color: unset;
    text-decoration: unset;
}
ul {
    padding: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    margin: 0;
}

// ! forms and inputs
option::-ms-expand {
    display: none;
}
input {
    outline: unset;
    border: ;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
   
} 

address {
    font-style: normal;
}
.italic{
	font-style: italic ;
	text-align: center;
}
.pixel{
	font-size: 30px;
	font-style: bold;
}